@font-face {
    font-family: 'pirates';
    src: url('https://cdn.rawgithub.com/MiguelGalp/MiguelGalp.github.io/blob/d2c8036f03a042f376fc20acc317666b5ca35ca7/Pirates-Blackbeard.otf
    font-weight: 100;
    font-style: normal;
} 
