@font-face {
    font-family: 'pirates';
    src: url('https://github.com/MiguelGalp/MiguelGalp.github.io/blob/6c9b53e841eaeed570e913f1370b2d12331707de/Pirates-Blackbeard.otf');
    font-weight: 100;
    font-style: normal;
} 
